<div id="myCarousel" class="carousel carousel-fade slide">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true"
      aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="10000">
      <img src="/assets/carousel-1.jpg" class="d-block w-100" alt="carousel-1">
      <div class="carousel-caption d-none d-md-block">
        <h5 class="text-white fst-marck fs-3">Хапва Ви се нещо различно?</h5>
        <p class="text-white fst-marck fs-3">Открийте най-добрите ресторанти на едно място!</p>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="/assets/carousel-2.jpg" class="d-block w-100" alt="carousel-2">
      <div class="carousel-caption d-none d-md-block">
        <h5 class="text-white fst-marck fs-3">С внимание към детайла!</h5>
        <p class="text-white fst-marck fs-3">Заедно с нас Вашият любим ресторант е вече в бъдещето!</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/assets/carousel-3.jpg" class="d-block w-100" alt="carousel-3">
      <div class="carousel-caption d-none d-md-block">
        <h5 class="text-white fst-marck fs-3">Поръчай лесно!</h5>
        <p class="text-white fst-marck fs-3">Получи на удобно за теб място</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>