<div class="d-flex space justify-content-center fst-roboto card border-primary my-4 px-5 py-5">
    
    <!-- Background animation CSS -->
    <app-bubles-animation></app-bubles-animation>

    <div class="row">
        <div class="col-lg-6 mt-5">
            <img src="/assets/aboutUs.png" class="img-fluid position-relative" alt="GourmetAcademy">
        </div>
        <div class="col">
            <div class="px-3">
                <h1 class="fst-marck"><img class="mb-2" src="/assets/aboutUs-1.png" width="70" height="55">Ние сме Gourmet Academy</h1>
                <hr class="my-1">
                <div class="text-primary-emphasis fs-5">
                    <p><i class="fa-solid fa-globe" style="font-size: 17px;"></i> Идеята ни е да предложим лесен и бърз
                        достъп до любимият Ви ресторант, само на клик
                        разстояние.
                    </p>
                    <p><i class="fa-regular fa-thumbs-up" style="font-size: 17px;"></i> Нашата цел е да привличаме
                        повече ресторанти към сайта, за да може да предложим голямо
                        разнообразие от вкусна храна.
                    </p>
                    <p><i class="fa-solid fa-champagne-glasses" style="font-size: 17px;"></i> С нашият уебсайт можете да
                        намерите разнообразие от ресторанти, които предлагат различни
                        кухни и готвят с най-качествените продукти.
                    </p>
                    <p><i class="fa-regular fa-handshake" style="font-size: 17px;"></i> Ние сме създали удобна
                        платформа, където можете да разглеждате менюта на различни
                        ресторанти и да четете отзиви на други клиенти.
                    </p>
                    <p><i class="fa-solid fa-cart-plus" style="font-size: 17px;"></i> Също така, можете да използвате
                        функцията за поръчка онлайн и да се насладите на храната
                        удобно в дома си или в офиса си.
                    </p>
                    <p><i class="fa-solid fa-utensils" style="font-size: 17px;"></i> Независимо дали търсите класически
                        рецепти, екзотични ястия или специалитети от определена
                        кухня, нашият уебсайт има много предложения, които да задоволят вашия вкус и предпочитания.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


