<div class="modal-dialog modal-dialog-centered modal-lg d-flex flex-column position-relative mt-4 mb-3 rounded">
    <div class="modal-content">
        <div class="modal-header">
            <h2 class="modal-title fw-bold text-white text-decoration-underline" id="deleteProduct">Потвърдете изтриване</h2>
        </div>
        <div class="modal-body">

        <!-- Spinner -->
        <app-loading [isLoading]="isLoading"></app-loading>
        <!-- Display error -->
        <app-alert-message [errorMsgFromServer]="errorMsgFromServer"></app-alert-message>
        <!-- Display success message -->
        <app-success-message [successMessage]="successMessage"></app-success-message>
        
        <ng-container *ngIf="!successMessage">
            <div class="row">
                <div class="col-md-5 col-xl-4 col-xxl-5 text-center text-md-start">
                    <form class="mt-3" deleteForm="ngForm">
                        <div class="mb-3"><input class="form-control text-body-tertiary" type="text" name="name" [ngModel]="productDetails.name" disabled=""></div>
                        <div class="mb-3"><input class="form-control text-body-tertiary" type="text" name="weight" [ngModel]="productDetails.weight" disabled=""></div>
                        <div class="mb-3"><input class="form-control text-body-tertiary" type="text" name="price" [ngModel]="productDetails.price" disabled=""></div>
                        <div class="mb-3"><input class="form-control text-body-tertiary" type="text" name="group" [ngModel]="productDetails.group" disabled=""></div>
                        <div class="mb-3"><input class="form-control text-body-tertiary" type="text" name="image" [ngModel]="productDetails.image" disabled=""></div>
                    </form>
                </div>
                <div class="col d-none d-lg-flex flex-grow-1" style="margin-left: 49px;margin-top: 4px;">
                    <img class="rounded-3" alt="No Image" src="{{productDetails.image}}" style="width: 340px;height: 402px;position: relative;padding-bottom: 0px;padding-top: 0px;margin-top: 9px;" width="340" height="402">
                </div>
            </div>
        </ng-container>

        <div class="modal-footer">
            <button type="button" class="btn btn-danger" (click)="deleteProduct(productDetails._id)" [disabled]="disableBtnDelete"><i class="bi bi-exclamation-triangle"></i> Изтрий</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="onCloseModal()"><i class="bi bi-x-lg"></i> Затвори</button>
        </div>
    </div>
</div>