<div class="modal-dialog modal-dialog-centered modal-sm d-flex flex-column position-relative rounded" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title fw-bold text-white text-decoration-underline" id="deleteComment">Потвърдете изтриване
            </h5>
        </div>
        <div class="modal-body">

            <!-- Spinner -->
            <app-loading [isLoading]="isLoading"></app-loading>
            <!-- Display error -->
            <app-alert-message [errorMsgFromServer]="errorMsgFromServer"></app-alert-message>
            <!-- Display success message -->
            <app-success-message [successMessage]="successMessage"></app-success-message>

            <ng-container *ngIf="!successMessage">
                <h5 class="text-center text-secondary-emphasis">Сигурни ли сте, че желаете да изтриете коментара?</h5>
            </ng-container>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger" (click)="deleteComment(commentDetails._id)"
                    [disabled]="disableBtnDelete"><i class="bi bi-exclamation-triangle"></i> Изтрий</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="onCloseModal()"><i
                        class="bi bi-x-lg"></i> Затвори</button>
            </div>
        </div>
    </div>
</div>