<!-- Spinner -->
<app-loading [isLoading]="isLoading"></app-loading>

<div *ngIf="isLoading === false" class="row">
    <div class="col-md-5 col-xl-4 col-xxl-5 text-center text-md-start">
        <h2 class="fw-bold mb-3"><span class="text-white text-decoration-underline">Нов продукт</span></h2>

        <!-- Show error -->
        <app-alert-message [errorMsgFromServer]="errorMsgFromServer"></app-alert-message>
        <!-- Show success message -->
        <app-success-message [successMessage]="successMessage" [autoHide]="true"></app-success-message>

        <form #addProductFrom="ngForm" (ngSubmit)="addProduct(addProductFrom)">
             <!-- Name -->
            <div class="form-group mb-3">
                <input ngModel #inName="ngModel" class="form-control" 
                [ngClass]="{'is-valid': inName.valid && inName.dirty, 'is-invalid': inName.invalid && inName.dirty}"
                 type="text" name="name" placeholder="Име на продукта" required minlength="3" maxlength="100">
                 <!-- Validation messages -->
                <div *ngIf="inName.errors?.['required']" class="invalid-feedback fs-6">Полето е задължително</div>
                <div *ngIf="inName.errors?.['minlength']" class="invalid-feedback fs-6">Името на продукта трябва да бъде минимум 3 символа</div>
                <div *ngIf="inName.errors?.['maxLength']" class="invalid-feedback fs-6">Името на продукта трябва да бъде максимум 100 символа</div>
                <div *ngIf="inName.valid" class="valid-feedback fs-6">Полето е валидно</div>
            </div>
            <!-- Weight -->
            <div class="form-group mb-3">
                <input ngModel #inWeight="ngModel" class="form-control"
                [ngClass]="{'is-valid': inWeight.valid && inWeight.dirty, 'is-invalid': inWeight.invalid && inWeight.dirty}"
                type="text" name="weight" placeholder="Мярка - пример: 350гр." required minlength="2" maxlength="10">
                <!-- Validation messages -->
                <div *ngIf="inWeight.errors?.['required']" class="invalid-feedback fs-6">Полето е задължително</div>
                <div *ngIf="inWeight.errors?.['minlength']" class="invalid-feedback fs-6">Мярката трябва да бъде минимум 2 символа</div>
                <div *ngIf="inWeight.errors?.['maxLength']" class="invalid-feedback fs-6">Мярката трябва да бъде максимум 10 символа</div>
                <div *ngIf="inWeight.valid" class="valid-feedback fs-6">Полето е валидно</div>
            </div>
            <!-- Price -->
            <div class="form-group mb-3">
                <input ngModel #inPrice="ngModel" class="form-control"
                [ngClass]="{'is-valid': inPrice.valid && inPrice.dirty, 'is-invalid': inPrice.invalid && inPrice.dirty}"
                type="number" name="price" placeholder="Цена" step="0.01" required min="0">
                <!-- Validation messages -->
                <div *ngIf="inPrice.errors?.['required']" class="invalid-feedback fs-6">Моля въведете число</div>
                <div *ngIf="inPrice.errors?.['min']" class="invalid-feedback fs-6">Цената трябва да бъде положително число</div>
                <div *ngIf="inPrice.valid" class="valid-feedback fs-6">Полето е валидно</div>
            </div>
            <!-- Group -->
            <div class="form-group mb-3">
                <input ngModel #inGroup="ngModel" class="form-control"
                [ngClass]="{'is-valid': inGroup.valid && inGroup.dirty, 'is-invalid': inGroup.invalid && inGroup.dirty}"
                type="text" name="group" placeholder="Група" required minlength="3" maxlength="20">
                <!-- Validation messages -->
                <div *ngIf="inGroup.errors?.['required']" class="invalid-feedback fs-6">Полето е задължително</div>
                <div *ngIf="inGroup.errors?.['minlength']" class="invalid-feedback fs-6">Групата трябва да бъде минимум 3 символа</div>
                <div *ngIf="inGroup.errors?.['maxLength']" class="invalid-feedback fs-6">Групата трябва да бъде максимум 20 символа</div>
                <div *ngIf="inGroup.valid" class="valid-feedback fs-6">Полето е валидно</div>
            </div>
            <!-- Image -->
            <div class="form-group mb-3">
                <!-- On change event get value -->
                <input (ngModelChange)="validateImagePath($event)" ngModel #inImage="ngModel" class="form-control"
                [ngClass]="{'is-valid': inImage.valid && inImage.dirty, 'is-invalid': inImage.invalid && inImage.dirty}"
                type="text" name="image" placeholder="Снимка линк" required pattern="^https?:\/\/[^ ]+$">
                <!-- Validation messages -->
                <div *ngIf="inImage.errors?.['required']" class="invalid-feedback fs-6">Полето е задължително</div>
                <div *ngIf="inImage.errors?.['pattern']" class="invalid-feedback fs-6">Снимката трябва да бъде линк започващ с http:// или https://</div>
                <div *ngIf="inImage.valid" class="valid-feedback fs-6">Полето е валидно</div>
            </div>
            <div class="form-submit mb-5">
                <button [disabled]="addProductFrom.invalid"  class="btn btn-primary shadow justify-content-center align-items-center align-content-center" style="margin-left: 116px;">
                    <i class="bi bi-plus-circle"></i> Добави</button>
            </div>
        </form>
    </div>
    <div class="col d-none d-lg-flex flex-grow-1 mt-5" style="margin-left: 49px">
        <!-- If the value entered by the user is correct, display a new link -->
        <img alt="Add your image" class="rounded-3" src="{{imageUrl ? imageUrl : '/assets/no-image.png'}}" style="width: 340px;height: 402px;position: relative;padding-bottom: 0px;padding-top: 0px;margin-top: 9px;" width="340" height="402">
    </div>
</div>